body{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background-image: url(img/3.jpg);
    background-size: cover;
}
.container {
    margin: 5% auto;
    width: 50%;
    background: #ffffff;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.container .left {
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    background-image: linear-gradient(#FF8A00, #ffa200);
    border-radius: 10px 0px 0px 10px;
}

.word{
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

.word h1{
    padding: 50px 0 0 0;
    color: white;
    font-style: italic;
    font-family: 'playfair display', serif;
    font-size: 30px; 
    float: right;
}

.word img{
    padding: 40px 0 0 0;
    margin: 20px 0;
    width: 60px;
    float: left;
}

.container .left p{
    font-weight: bolder;
    font-size: 60px;
    font-family: 'ubuntu', 'sans-serif';
    color: #ffffff;
    box-shadow:  0px 15px 100px 0px #00000000;
}

.word-2{
    display: flex;
    flex-direction: column;
    margin:0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.word-2 #welcome{
    margin-top: 40px;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'ubuntu', 'sans-serif';
    color: #ffffff;
    box-shadow:  0px 15px 100px 0px #00000000;
}

.word-2 #sign{
    margin-top: -15px;
    font-size: large;
    color: #794f08;
}

.word-2 #newhere{
    margin-top: 0;
    font-size: medium;
    color: #ffffff;
    font-weight: lighter;
}
.word-2 #create{
    margin-top: 0;
    text-decoration: none;
    color: #ffffff;
    font-style: bold;
}

.word-2 #create a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: ease-in-out 0.5s;
}

.word-2 #create a:hover{
    color: #794f08;
}

.container .right {
    float: right;
    width: 60%;
    height: 100%;
    padding-bottom: 50px;
}

.form-box {
    margin: auto;
    height: auto;
}

.form-box form{
    padding: 0 20px;
}

.form-box p{
    margin: 30px 0px 20px 20px;
    color: #ffa200;
    font-weight: bolder;
    font-size: 20px;
}

.form-box h1{
    text-align: center;
    border: none;
    margin-bottom: 0%;
}

.form-box hr {
    width: 100px;
    height: 5px;
    background: #ffa200;
    border: none;
    border-radius: 1px;
    margin-bottom: 50px;
}

.input-element {
    border: none;
    border-bottom: 2px solid #ffa200;
    width: 90%;
    height: 30px; 
}

input:focus{
    outline: none;
    transition: ease-in 0.1s;
    border-bottom: 2px solid #c27c04;
}

input:focus::placeholder{
    color: transparent;
    transition: all ease 0.3s;
}

#butang{
    justify-content: center;
    margin: 0;
    display: flex;
}

#butang input{
    padding: 0;
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: #d67e19;
    border-radius: 5px;
    border: none;
    font-family: 'varela round', sans-serif;
    font-weight: bolder;
    color: #352407;
    transition: all 0.2s;
}

#butang input:hover{
    transform: scale(1.5);
    cursor: pointer;
    background-color: #FF8A00;
    color: #ffffff;
}

#butang button{
    padding: 0;
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 234, 206);
    border-radius: 5px;
    border: none;
    font-family: 'varela round', sans-serif;
    font-weight: bolder;
    color: #352407;
    transition: all 0.2s;
}

#butang button:hover{
    transform: scale(1.5);
    cursor: pointer;
    background-color: #FF8A00;
    color: #ffffff;
}

#butang button:focus{
    outline: none;
}

.error {
    color: rgb(250, 164, 164);
    font-size: 80%;
    font-style: italic;
 }

 ::placeholder { 
    color: rgb(241, 200, 137);
    opacity: 1; 
    font-style: italic;
    letter-spacing: 1px;
    font-size: larger;
  }
  ::-webkit-scrollbar{
    width: 12px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #352407);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #ffa408);
}


@media (max-width: 1350px) {
    .container{
        flex-direction: column;
        height: auto;
    }

    .container .left{
        display: flex;
        flex-direction: column;
        float:none;
        width: 100%;
        margin: auto;
        height: auto;
        border-radius: 10px 10px 0px 0px;
        padding: 0%;
    }

    .container .right{
        width: 100%;
    }
  }
