*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    background-image: url('bg3.jpg');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.expressEat{
    background-color: black;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 7%;
    font-size: small;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li{
    float: right;
}
  
li a{
    display: block;
    padding: 8px;
    background-color: black;
}

.container-1 {
    padding: 16px;
    background-color: lightgray;
    width: 50%;
    height: 250px;
    margin-left: 26%;
    border-radius: 5px;
    border-color: black;
  }
  
  h4{
    text-align: center;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 15px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
  }
  
  input[type=tel]{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  #countrycode{
    width: 10%;
    float: left;
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
  }

  .container-2 {
    padding: 16px;
    background-color:lightgray;
    width: 50%;
    height: 800px;
    margin-left: 26%;
    border-radius: 5px;
    border-color: black;
  }

  h3{
      text-align: left;
  }
  .cashbtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .creditbtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .onlinebtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .grabpaybtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .touchngobtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .boostbtn {
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .creditdebit.jpg{
      float: right;
      margin-top: 5px;
      margin-right: 5px;
  }

  .box-2 img{
    float: right;
    width: 100px;
    height: 50px;
  }

  .box-3 img{
    float: right;
    width: 100px;
    height: 50px;
  }

  .box-4 img{
    float: right;
    width: 100px;
    height: 50px;
  }

  .box-5 img{
    float: right;
    width: 100px;
    height: 50px;
  }

  .box-6 img{
    float: right;
    width: 100px;
    height: 50px;
  }

  .container-3 {
    padding: 16px;
    background-color:lightgray;
    width: 50%;
    margin-left: 26%;
    border-radius: 5px;
    border-color: black;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .gotopaymentbtn {
    background-color: #9bd39d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  a {
    color: dodgerblue;
  }
 