body{
    font: 15px Segoe UI, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*global*/
.container{
    margin: auto;
    width: 90%;
    overflow: hidden;
}

.ul{
    margin: 0;
    padding: 0;
}

/*header*/
header{
    background: black;
    color: #ffffff;
    padding: 3px 0 3px 0;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

header a:hover{
    border-bottom: #ffa200 3px solid;
}

header li{
    padding: 0 20px 10px 20px;
    float: left;
    display: inline;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0; 
    padding-top: 5px;
}

header nav{
    float: right;
    padding: 0px 5px 0px 0px;
}

header .main-logo{
    float: left;
}

header .main-title{
    float: right;
    padding: 0px 0px 0px 10px;
}

/*Hamburger icon*/
.container-hamburger-icon{
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
