:root {
    --black: #3a3a3a;
    --white: #fff;
    --green: #49b293;
    --black: #000000;
    --light-black: #24190b;
    --dark-grey: #504545;
    --white-brown: #Fcf5ea;
    --yellow: #ffa200;
    --brown: #b47a36;
}

html {
  scroll-behavior: smooth;
}

body{
    font: 15px Segoe UI, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fcf5ea;
    font-family: 'Playfair Display', sans-serif;
}

/*global*/
.container{
    margin: auto;
    width: 90%;
}

.ul{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.right{
    float:right;
}

.left{
    float:left;
}

/*header*/
header{
    background-color: black;
    color: #ffffff;
}

.padding-1{
  padding: 3px 0 60px 0;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.4s;
}

header a:hover{
    border-bottom: #ffa200 3px solid;
}

header .current{
    border-bottom: #ffa200 3px solid;
    position: relative;
}

header li{
    margin: 8px 20px 0px 20px;
    float: left;
    display: inline;
}

header #branding{
    float: left;
    transition-duration: 0.4s;
}

header #branding:hover{
    cursor: pointer;
    color: #ffa200;
}

header #branding h1{
    margin: 0; 
    padding-top: 5px;
}

header nav{
    padding: 10px 5px 0px 0px;
}

header .navigation-bar{
    padding-left: 55%;
}

header .main-logo{
    float: left;
}

header .main-logo:hover{
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
}

header .main-title{
    font-style: italic;
    float: right;
    padding: 0px 0px 0px 10px;
}

/*Hamburger icon*/
.container-hamburger-icon{
    display: inline-block;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:  #ffa200;
    margin: 6px 0;
    transition: 0.1s;
}
.bar1:hover, .bar2:hover, .bar3:hover{
    opacity: 0.5;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: black}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*Summary*/
#summary-button{
    margin: 2% 0 0 15%;
    display: flex;
    flex-direction: row;
}

.flexbox-container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.summary-box{
    width: 20%;
    margin: 0 10% 0 0;
    border-radius: 25px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: block;
}

#total-text{
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
}

#total-sales, #total-user, #total-order{
    text-align: center;
}

/*Table to display user*/
.table-1 .button {
    background-color: var(--green);
    border: none;
    color: white;
    margin: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 45px;
}

.table-1 .button:hover{
    opacity: 0.7;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 20px;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition-duration: 0.1s;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.table-1 h1{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
.table-1 table{
    width:100%;
    table-layout: fixed;
}
.table-1 .tbl-header{
    background-color: #ffa200;
}

.table-1 .tbl-header th{
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.table-1 .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
.table-1 th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}

.table-1  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
} 

/*download button*/
.button-1 {
  background-color: var(--green);
  border: none;
  color: white;
  margin: 10px 0 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 45px;
  border: none;
}

.button-1:hover{
  opacity: 0.7;
}

.dropdown-download{
  padding: 10px;
  position: relative;
  display: inline-block;
}

.dropdown-download i{
  font-size:20px; 
  color: black;
}

.dropdown-content-download {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-download a{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-download a:hover {
  background-color: black;
  opacity: 0.7;
  border-bottom: solid 5px var(--yellow);
  
}

.dropdown-download:hover .dropdown-content-download {
  display: block;
}
  
  /* demo styles */
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  .table-1{
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 50px;
    border-radius: 25px;
  }
  
  /* for custom scrollbar for webkit browser*/
  ::-webkit-scrollbar{
    width: 12px;
    background-color: #000000;
  }

  ::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #ffa408);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #352407);
  }

  /* Search and filter */
.list-title{
    border-bottom: solid 3px var(--black);
    text-align: center;
    margin-bottom: 3%;
}

  /* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  * {
    margin: 0;
    padding: 0;
  }

  .filter-container {
    margin: 0% 0% 0 0;
  }
  
  .filter-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .filter-container ol {
    list-style: none;
  }
  
  .filter-container a {
    text-decoration: none;
    color: inherit;
  }
  
  .filter-container h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filter-container h1 a {
    transition: all 0.1s;
  }
  
  .filter-container h1 a:hover {
    background: var(--green);
    color: var(--white);
  }
  
  .filter-container input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  
  /* FILTERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .filter-container .filters {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filter-container .filters * {
    display: inline-block;
  }
  
  .filter-container .filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filter-container .filters label:hover {
    background: var(--green);
    color: var(--white);
  }

  /* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="ID"]:checked ~ .filters [for="searchID"],
[value="Username"]:checked ~ .filters [for="searchUsername"],
[value="Firstname"]:checked ~ .filters [for="searchFirstname"],
[value="Lastname"]:checked ~ .filters [for="searchLastname"],
[value="City"]:checked ~ .filters [for="searchCity"],
[value="State"]:checked ~ .filters [for="searchState"],
[value="Country"]:checked ~ .filters [for="searchCountry"],

[value="ID"]:checked ~ .filters [for="replaceID"],
[value="Username"]:checked ~ .filters [for="replaceUsername"],
[value="Firstname"]:checked ~ .filters [for="replaceFirstname"],
[value="Lastname"]:checked ~ .filters [for="replaceLastname"],
[value="City"]:checked ~ .filters [for="replaceCity"],
[value="State"]:checked ~ .filters [for="replaceState"],
[value="Country"]:checked ~ .filters [for="replaceCountry"],

[value="Code"]:checked ~ .filters [for="searchCode"],
[value="Name"]:checked ~ .filters [for="searchName"],
[value="ItemDescription"]:checked ~ .filters [for="searchDescription"],
[value="QtyInStock"]:checked ~ .filters [for="searchQuantity"],
[value="BuyPrice"]:checked ~ .filters [for="searchPrice"],

[value="Code"]:checked ~ .filters [for="replaceCode"],
[value="Name"]:checked ~ .filters [for="replaceName"],
[value="ItemDescription"]:checked ~ .filters [for="replaceDescription"],
[value="QtyInStock"]:checked ~ .filters [for="replaceQuantity"],
[value="BuyPrice"]:checked ~ .filters [for="replacePrice"],

[value="Code"]:checked ~ .filters [for="deleteCode"],
[value="Name"]:checked ~ .filters [for="deleteName"],

[value="CheckNum"]:checked ~ .filters [for="searchCheckNum"],

[value="CheckNum"]:checked ~ .filters [for="replaceCheckNum"],
[value="CustomerID"]:checked ~ .filters [for="replaceCustomerID"],
[value="PaymentDate"]:checked ~ .filters [for="replacePaymentDate"],
[value="Amount"]:checked ~ .filters [for="replaceAmount"]{
  background: var(--green);
  color: var(--white);
}
  
/*Table customer for CRUD*/
.customer-table{
    margin-top: 5%;
}

.customer-table a{
    font-size: 30px;
    padding: 6px 10px 4px 10px;
}

/*Add new data in dashboard*/
#container-1{
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 500px;
    background-color: var(--yellow);
    margin: 5% auto;
    padding: 20px 40px 60px 40px;
    border-radius: 5px;
}

.details-section{
    background-color: var(--white);
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

/* Style inputs, select elements and textareas */
.col-75 input[type=text], .col-75 input[type=number], .col-75 textarea, .col-75 input[type=datetime-local]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: var(--brown);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 30%;
    margin-top: 15px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 70%;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row{
    overflow: hidden;
}

.condition{
  background-color: white;
  border: black solid 1px;
  margin-top: 10px;
  padding: 10px;
}
.submission{
    float: left;
    margin-top: 10px;
    padding-left: 150px;
}

.btn{
  background-color: #4CAF50;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.register{
  padding: 14px 28px;
  margin-left: 20px;
}
.clear{
  padding: 14px 40px;
}

.update-details{
    display: block;
}

.update-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--white);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .update-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #378f74;
    text-align: center;
  }
  
  .update-box .user-box {
    position: relative;
  }
  
  .update-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--black);;
    outline: none;
    background: transparent;
  }
  .update-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--black);
    pointer-events: none;
    transition: .5s;
  }
  
  .update-box .user-box input:focus ~ label,
  .update-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--black);
    font-size: 12px;
  }
  
  .update-box form button {
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--green);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 5%;
    margin-left: 40%;
    letter-spacing: 4px
  }
  
  .update-box button:hover {
    background: var(--yellow);
    color: #fff;
    border-radius: 50px;
  }
  

/*----MENU CATEGORY CSS------*/

.bg-menu{
  height: 78%;
  position: absolute;
  padding-bottom: 10%;
  text-align: center;
}

.bg-menu::after {
  content: "";
  background: url(../img/menu\ page\ in\ main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.title h4{
  text-transform:capitalize;
  font-size:36px;
  position:relative;
  display:inline-block;
  padding-bottom:10px;
  margin-top: 3%;
}

.title h4:before{
  height: 0;
  width: 100%;
  position:absolute;
  content:"";
  width:50px;
  height:5px;
  background-color:#ff7720;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}

.category{
  padding: 0 0 40px 0;
  width: 90%;
  margin: auto;
  text-align: left;
}

.category h1{
  color: rgb(90, 85, 85);
}
.menu-box{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
  .menu-box {
    flex-direction: column;
    align-items: center;
  }
}
  
.card {
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height: 50%;
  margin: 0 10px;
}

.card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container-card {
  padding: 40px 0 60px 0;
}

.card h1{
  color: rgb(90, 85, 85);
  text-align: center;
}

.menu-footer{
  background-color: #24190b;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.menu-footer h1{
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 20px 0px;
}

/*----MENU LIST PAGE CSS------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header .navigation-menu{
  float: right;
}

header .branding{
  font-size: 15px;
}

.flexbox-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex{
  background-color: white;
  padding: 10px;
}

.flex a{
  transition: 0.4s;
  padding: 20px;
}

.flex a:hover{
  color: var(--yellow);
}

.flex-1{
  padding: 0 0 40px 0;
  width: 90%;
  margin: auto;
}

.flex-2{
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex-2 h1{
  font-style: italic;
  color: rgb(90, 85, 85);
  font-size: 30px;
}

.main-content{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  margin: auto;
}

/* .sidebar-cart{
  width: 20%;
  background-color: #d2d0cf;
  float: left;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  text-align: center;
} */

.title-list h4{
  text-transform:capitalize;
  font-size:36px;
  position:relative;
  display:inline-block;
  padding-bottom:10px;
  text-align: center;
  margin-top: 2%;
}

.title-list h4:before{
  height: 0;
  width: 100%;
  position:absolute;
  content:"";
  width:50px;
  height:5px;
  background-color:#ff7720;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}

.navigate{
  float: left;
  display: inline;
}

.navigate i{
  font-size:40px; 
  color: rgb(133, 124, 124);
  margin-right: 20px;
}

.navigate a{
  font-size:30px; 
  font-weight: 500;
  color: rgb(133, 124, 124);
}

.navigate a:hover {
  color: var(--light-black);
  text-shadow:0px 0px 30px var(--light-black);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.menu-all{
  display: flex;
  background-color: #f1f1f1;
  width: 80%;
  margin: auto;
}

/* Create two equal columns that sits next to each other */
.column-1{
  border-right: solid 1px black;
  color: white;
  width: 50%;
  margin: 10px 0px 10px 10px;
  text-align: center;
  font-size: 30px;
  height: 100%;
}

.column-2{
  color: white;
  width: 50%;
  margin: 10px 10px 10px 0px;
  text-align: center;
  font-size: 30px;
  height: 100%;
}

.column .column-2{
  margin-left: 0;
}

.menu-footer-1{
  background-color: #24190b;
  position: absolute;
  left: 0;
  z-index: 1;
  bottom: 0;
  width: 80%;
  text-align: center;
}

/*Menu item design using flexbox*/

.flex-menu{
  padding: 10px;
  height: 16.4%;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  background-color: #ffffdc;
}

.flex-menu-20{
  width: 20%;
}

.flex-menu-20 img{
  width: 115px;
  height: 115px;
  object-fit: cover;
}

.flex-menu-80{
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.menu-col-30{
  width: auto;
  height: 30%;
  object-fit: cover;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--light-black);
}

.menu-col-30 .title{
  color: #000000;
  font-size: 20px;
  float: left;
  letter-spacing: 3px;
}

.menu-col-30 .price{
  font-size: 20px;
  float: right;
  color: var(--brown);
}

.menu-col-30-1{
  width: auto;
  height: 26%;
  padding: 0 20px;
}

.menu-col-30-1 input{
  float: right;
  border-radius: 10px;
  border: solid 1px var(--brown);
  text-align: center;
  height: 98%;
  margin-right: 10px;
  padding: 5px 10px 4px 10px;
}

.menu-col-30-1 h1{
  font-size: 20px;
  padding: 0px 10px 0px 10px;
  float: right;
  background-color:var(--brown);
  border-radius: 25px;
  border: none;
  color: #000000;
  font-style: normal;
  transition: 00.4s;
}

.menu-col-30-1 .cart{
  margin-left: 10px;
  float: right;
  background-color:var(--green);
  padding: 5px 10px 4px 10px;
  border-radius: 25px;
  border: none;
  transition: 00.4s;
}

.menu-col-30-1 button:hover{
  background-color: #fcf5ea;
  border: solid 1px var(--green);
}

.menu-col-30-1 h1:hover{
  cursor: pointer;
  background-color: #fcf5ea;
  border: solid 1px var(--brown);
}

.menu-col-40{
  width: auto;
  height: 35%;
}

.menu-col-40 p{
  font-size: 15px;
  color: #000000;
  text-align: left;
}

@media (max-width: 1350px) {
  .menu-all{
    flex-direction: column;
  }
  .column-1{
    width: auto;
    margin: 10px;
    border-right: none;
  }

  .column-2{
    width: auto;
    margin: 10px;
    border-left: none;
  }
}

/*CART WEBPAGE*/


.cart-content{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px auto;
}

.table-2{
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.table-2 .button {
  background-color: var(--green);
  border: none;
  color: white;
  margin: 10px 0 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 45px;
}

.table-2 .button:hover{
  opacity: 0.7;
}

.table-2 h1{
  font-family: 'Playfair Display', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.table-2 table{
  width:100%;
  table-layout: fixed;
}
.table-2 .tbl-header{
  background-color: #ffa200;
}

.table-2 .tbl-header th{
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.table-2 .tbl-content{
  height: 100px;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.table-2 th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}

.table-2  td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
} 

/*Payment Page*/
.container-1{
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 16px;
  background-color: #f1f1f1;
  width: 50%;
  height: auto;
  margin-left: 26%;
  border-radius: 5px;
  border-color: black;
}

.container-1 h4{
  text-align: center;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 15px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.container-1 input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: solid 1px #e4e4e4;
  border-radius: 4px;
  background: #fcfcfc;
}

.container-1 input[type=tel]{
  border: solid 1px #e4e4e4;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background: #fcfcfc;
}

.cashbtn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.creditbtn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.onlinebtn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.grabpaybtn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.touchngobtn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.boostbtn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.creditdebit.jpg{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.box-2 img{
  float: right;
  width: 100px;
  height: 50px;
}

.box-3 img{
  float: right;
  width: 100px;
  height: 50px;
}

.box-4 img{
  float: right;
  width: 100px;
  height: 50px;
}

.box-5 img{
  float: right;
  width: 100px;
  height: 50px;
}

.box-6 img{
  float: right;
  width: 100px;
  height: 50px;
}

.container-1 label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.box-1 label, .box-2 label, .box-3 label, .box-4 label, .box-5 label, .box-6 label {
  padding: 12px 0;
  display: inline-block;
}

.gotopaymentbtn {
  background-color: #9bd39d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

[value="cash"]:checked ~ .box-1 [for="cash-method"],
[value="card"]:checked ~ .box-2 [for="card-method"],
[value="online"]:checked ~ .box-3 [for="online-banking-method"],
[value="grabpay"]:checked ~ .box-4 [for="grabpay-method"],
[value="touchngo"]:checked ~ .box-5 [for="touchngo-method"],
[value="boost"]:checked ~ .box-6 [for="boost-method"]{
  border: solid 1px black;
}

/*--CSS for Main Page--*/
.main-flex{
  text-align: center;
  padding: 0;
  margin: 0;
}

#main-flexbox{
  position: sticky;
}

.main-box{
  text-align: center;
  color: #ff7720;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flexbox;
}

#Main-Page{
  height: 100%;
  width: 100%;
  background-image: url(../img/Background_Home.png);
  background-size: cover;
  background-position: bottom center;
  display: flexbox;
  flex-direction: column;
}

.tajuk{
  display: flexbox;
}

.tajuk h4{
  color: #f5eee3;
  margin: 0 0 0 46%;
  font-size: 30px;
  border-bottom: 4px solid #ffa200;
  width: fit-content;
  display: flexbox;
}

.des-main{
  display: flexbox;
  flex-direction: column;
}

.des-main .des1{
  display: flexbox;
  width: fit-content;
  font-family: 'ultra', 'serif';
  margin: 20% 0 0 2%;
  font-size: 75px;
  color: #fcf5ea;
  text-shadow: 2px 2px 4px #000000;
  flex-direction: column;
  letter-spacing: 1px;
}

.des-main .des1:hover{
  transform: scale(1.1);
  color: bisque;
  transition: ease-in-out 0.2s;
}

.des-main .des2{
  width: fit-content;
  display: flexbox;
  flex-direction: column;
  color: #fcf5ea;
  font-family: 'roboto', 'sans-serif';
  font-size: 35px;
  letter-spacing: 30px;
  margin: 0 0 0 2%;
  text-shadow: 1px 1px 3px #1b1313;
}

.des-main .des2:hover{
  transform: scale(1.1);
  color: bisque;
  transition: ease-in-out 0.2s;
}

.des-main .des3{
  width: fit-content;
  display: flexbox;
  flex-direction: column;
  color: #f7aaa5;
  font-family: 'playfair display', 'sans-serif';
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px #352407;
  margin: 2% 0 10% 2%;
}

.des-main .des3:hover{
  color: #f5877f;
  transition: ease-in-out 0.2s;
}

#About-Us{
  height: 100%;
  width: 100%;
  background-image: url(../img/about\ us-2.jpg);
  background-size: cover;
  background-position: bottom center;
}

.tajuk-about{
  display: flexbox;
}

.tajuk-about h4{
  color: #504545;
  margin: 0 0 0 46%;
  font-size: 30px;
  border-bottom: 4px solid #ffa200;
  width: fit-content;
  display: flexbox;
  
}

.row-abt{
  display: flex;
  height: auto;
}
.col-abt{
  flex: 40%;
  flex-direction: column;
}

.about1{
  width: fit-content;
  flex-direction: column;
  font-size: 33px;
  color: #574c4c;
  letter-spacing: 2px;
  margin: 15% 5% 3% 5%;
  height: auto;
}

.about1:hover{
  color: #a87825;
  transition: ease-in-out 0.2s;
}

.about2{
  height: auto;
  width: fit-content;
  flex-direction: column;
  margin: 0% 15% 0 15%;
}

.about2:hover{
  transform: scale(0.95);
  transition: ease-in-out 0.4s;
}

.col-abt img{
  width: 700px;
  height: 835px;
}

#Menu{
  height: 100%;
  width: 100%;
  background-image: url(../img/menu\ page\ in\ main.jpg);
  background-size: cover;
  background-position: bottom center;
}

.menu-kot{
  display: flexbox;
}

.menu-kot h4{
  color: #fff4f4;
  margin: 0 0 0 46%;
  font-size: 30px;
  border-bottom: 4px solid #ffa200;
  width: fit-content;
  display: flexbox;
}

.caption-menu{
  display: flexbox;
  margin: 1% 20% 1% 20%;
}

.caption-menu p{
  font-size: 20px;
  color: #e0cca8;
  font-weight: bold;
  letter-spacing: 2px;
}

.kotak-menu{
  display: flexbox;
  width: 100%;
  height: auto;
  background-color: #fff4f4;
}

.col-men{
  flex: 30%;
}

.row-men{
  display: flex;
}
.bottom-menu{
  display: inline-flex;
  color: rgb(241, 221, 163);
  font-size: 20px;
  font-family: 'roboto';
}
.bottom-menu p{
  padding: 40px;

}
.bottom-menu p:hover{
  color: #ffa408;
  transition: ease-in-out 0.2s;
}
#Contact-Us{
  height: 100%;
  width: 100%;
  background: #24190b;
}

.tajuk-contact{
  display: flexbox;
}

.tajuk-contact h4{
  color: #fcf5ea;
  margin: 0 0 0 46%;
  font-size: 30px;
  border-bottom: 4px solid #ffa200;
  width: fit-content;
  display: flexbox;
  
}

.contact1{
  border-right: 3px solid #fcfcfc;
  padding-right: 10%;
  border-left: 3px solid #fcfcfc;
  padding-left: 10%;
  width: fit-content;
  flex-direction: column;
  font-size: 33px;
  color: #cfcfc2;
  letter-spacing: 2px;
  margin: 7% 15% 3% 15%;
  height: auto;
}

.contact1:hover{
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.contact2{
  border-left: 3px solid #fcfcfc;
  padding-left: 10%;
  border-right: 3px solid #fcfcfc;
  padding-right: 10%;
  width: fit-content;
  flex-direction: column;
  font-size: 33px;
  color: #cfcfc2;
  letter-spacing: 2px;
  margin: 10% 22% 3% 14%;
  height: auto;
}

.footer-main{
  background-color: #24190b;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}

.footer-main h1{
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 20px 0px;
}

